*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
     height: 100%;
    font-family: 'Fredoka One', cursive;
    }

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 290px;
    height: 349px;
    margin: 10px;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;

}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;

}

input {
     flex: 1;
       padding: 10px;
       border: none;
       outline: none;
       font-size: 16px;
}

button {
   background-color: #009688;
     color: white;
     border: none;
     padding: 10px 20px;
     cursor: pointer;
     font-size: 16px;
}

#inputs {

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 90%;
    margin: 20px auto;
}

.recipe-item {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.recipe-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

div{
    margin-top: 50px;

}
.PageInfo{
    border: 2px solid black;
}

footer{

    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 10%;
    margin-top: auto;
}

